
/* Universal Selector */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Base Styles */
.page {
    display: flex;
    flex-wrap: wrap;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
    body {
        background-color: red;
    }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
    body {
        background-color: lightyellow;
    }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
    body {
        background-color: green;
    }
}




