.synopsis {
    color: lightgrey;
    font-style: italic;
}

.synopsis em {
    font-style: normal;
}

.button:link,
.button:visited {
    display: block;
    text-decoration: none;

    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 100px;

    width: 75px;
    margin: 20px auto;

}

.button:hover, 
.button:visited:hover {
    color: white;
    background-color: lightblue;
}

.button:active,
.button:visited:active {
    color: white;
    background-color: blue;
}

.call-to-action {
    font-style: italic;
    background-color: darkgreen;
}

a:link {
    color: blue;
    text-decoration: none;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

.page {
    width: 600px;
    margin: 0 auto; 
}