
/* Paragraph Styles */
p:first-of-type {
    color: lightgrey;
    font-style: italic;
}

p:first-of-type em {
    font-style: normal;
}

p:last-of-type {
    margin-bottom: 50px;
}

/* Button Styles */
.button:link,
.button:visited {
    display: block;
    text-decoration: none;

    color: white;
    background-color: cornflowerblue;
    font-weight: bold;
    padding: 20px;
    text-align: center;
    border: 2px solid darkgray;
    border-radius: 100px;

    width: 75px;
    margin: 20px auto;

}

.button:hover, 
.button:visited:hover {
    color: white;
    background-color: lightblue;
}

.button:active,
.button:visited:active {
    color: white;
    background-color: blue;
}

.call-to-action:link,
.call-to-action:visited {
    font-style: italic;
    background-color: orangered;
}

.call-to-action:hover,
.call-to-action:visited:hover {
    background-color: lightcoral;
}

.call-to-action:active,
.call-to-action:visited:active {
    background-color: yellowgreen;
}

/* Link Styles */
a:link {
    color: blue;
    text-decoration: none;
}

a:visited:hover {
    color: orange;
}

a:visited:active {
    color: red;
}

/* Page Width Style */
.page {
    width: 600px;
    margin: 0 auto; 
}